  .Toastify__toast--info {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(236,46,4,1) 100%, rgba(6,223,240,1) 100%);
  }
  .Toastify__toast--success {
    background: green;
  }
  .Toastify__toast--warning {
    background: orange;
  }
  .Toastify__toast--error {
    background: red;
  }
  